{% extends "base.html" %}

    {% block title %}
    <title> Home </title>
    {% endblock %}

   	{% block body %}

   	<h1 class="headers" style="font-weight:bold" >
   		About me
   	</h1>
   	<p class="paragraphs">
      "Here is where I will discuss my Atlas projects that will one day hold up the sky"
   	</p>
   	<style>
      @import url('https://fonts.googleapis.com/css?family=Roboto');
   		h1 {
   			font-size: 20px;
   			font-weight: bold;
   			font-family: Roboto, sans-serif;
   		}
   		p {
   			font-size: 15px;
   			font-family: Roboto, sans-serif;
   		}
    </style>

   	{% endblock %}